:root {
    --background: ##fff;
    --background-secondary: #222831;
    --background-tertiary: var(--background);
    --text: #000;
    --secondary-text: #EEEEEE;
    --primary-action: #0866ff;
    --tertiary-text: #000;
    --secondary-action: hsl(240 3.7% 15.9%);
    --link: #0866ff;
}

.dark {
    --background: #222831;
    --background-secondary: #393E46;
    --background-tertiary: #393E46;
    --text: #EEEEEE;
    --secondary-text: #EEEEEE;
    --tertiary-text: #EEEEEE;
    --primary-action: #0866ff;
    --secondary-action: hsl(240 3.7% 15.9%);
    --link: #0866ff;
}

[x-cloak] {
    display: none !important;
}

a {
    color: var(--link);
}

legend {
    font-weight: bold;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: "Google Sans",roboto,arial,helvetica;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--background-secondary);
    color: var(--secondary-text);
    padding-inline: 1em;
    margin-bottom: 2em;
}

header div {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
}

button, .button {
    align-self: center;
    align-content: center;
    color: var(--secondary-text);
    text-decoration: none;
    background-color: var(--secondary-action);
    padding: 0.5em 1em;
    border-radius: 5px;
    border: 1px solid black;
    margin-inline: 0.5em;
    font-weight: bolder;
}

.primary {
    background-color: var(--primary-action);
    color: var(--text);
}

.primary:hover {
    background-color: var(--secondary-action);
    color: var(--secondary-text);
}

button:hover, .button:hover {
    background-color: var(--primary-action);
    color: var(--secondary-text);
}

main {
    width: 80%;
    margin: 0 auto;
    min-height: 75.5vh;
}

img {
    max-width: 72em;
}

.articles {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.article {
    display: flex;
    flex-direction: column;
    color: var(--tertiary-text);
    background-color: var(--background-tertiary);
    gap: 0.5em;
    padding: 1em;
    border: 0.15em solid black;
    border-radius: 1em;
}

.article-content {
    margin-inline: 2em;
}

.alert {
    background-color: #FF0000;
    color: #FFFFFF;
    padding: 0.5em;
    border-radius: 0.5em;
    margin-bottom: 1em;
}

footer {
    margin-top: 3em;
    background-color: var(--background-secondary);
    color: var(--secondary-text);
    padding: 0.5em;
    text-align: center;
}