# /public/.htaccess

RewriteEngine On

# Exclude CSS and image files from being redirected
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !\.(css|jpg|jpeg|png|gif|ico)$

# Rediriger vers index.php avec des paramètres de requête
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]